html{
  font-size: 62.5%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@media(max-width:998px){
  
  html{
      font-size: 55%;
      /* 8.8px      */
  }
}
@media(max-width:768px){
  html{
      font-size: 53%;
      /* 7.2px */
  }
}